* {
  /* border: red 1px solid; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-size: 16px;
}

:root {
  --background: rgb(239, 239, 240);
  --light: rgb(211, 216, 218);
  --dark: rgb(131, 160, 168);
  --contrast: rgb(236, 236, 226);
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

/* main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

header {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  margin: 0;
  background-color: var(--dark);
  color: var(--contrast);
  font-size: 2.5em;
}

.navBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -47px;
  background-color: var(--contrast);
  font-weight: bold;
}

h2 {
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 5px;
  font-size: 1.75em;
  background-color: var(--dark);
  color: var(--contrast);
}

div#aboutMe {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.secondaryPortfolio {
  display: flex;
  flex-wrap: wrap;
}

div#portfolio {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

.smallPortfolio {
  display: flex;
  flex-direction: column;
  max-height: 419px;
  margin-top: 51px;
  margin-bottom: 26px;
}

h3 {
  font-size: 1.5em;
  background-color: var(--dark);
  color: var(--contrast);
}

div {
  border: var(--dark) 2px solid;
}

p {
  padding-bottom: 5px;
}

/* .smallPortfolio {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
} */

#portfolio {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;
}

#aboutMe {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;
}

.contactBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -47px;
  background-color: var(--contrast);
  font-weight: bold;
  color: var(--dark);
}

/*TODO: Add in media queries, needs to be mobile responsive. Take photos and grab screenshots. Finish README. Push to GH and deploy page.*/
