/* Global Styles and Variables =========================================================== */
* {
  border: red 1px solid;
  box-sizing: border-box;
}

:root {
  --background: rgb(239, 239, 240);
  --light: rgb(240, 251, 255);
  --dark: rgb(157, 214, 229);
  --contrast: rgb(241, 241, 223);
  --header: "Vollkorn", serif;
  --body: "Montserrat", sans-serif;
}

/* Header Styles ========================================================================== */

/* NavBar Styles ========================================================================== */

/* About Me Styles ======================================================================== */

/* Portfolio Styles ======================================================================= */
/* Footer Styles ========================================================================== */
