/* Universal Styles */

* {
  /* border: red 1px solid; */
  box-sizing: border-box;
}

:root {
  --background: rgb(239, 239, 240);
  --light: rgb(240, 251, 255);
  --dark: rgb(157, 214, 229);
  --contrast: rgb(241, 241, 223);
  /* font-family: "Fira Sans", sans-serif;
  font-family: "Ubuntu", sans-serif; */
}

/* Element Styles */

body {
  background-color: var(--background);
}

a p {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 5px;
}

h1 h2 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 5px;
  font-size: 1.75em;
  background-color: var(--dark);
  color: var(--contrast);
}

/* Class Styles */

.secondaryPortfolio {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--dark);
  padding: 15px;
  font-size: 30px;
}

/* ID Styles */

#aboutMe {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;
}

div#aboutMe {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#myFace {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
#aboutMe {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  max-width: 42%;
  position: relative;
}
#card-position {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
